section.footer
	.row
		.column.small-11.small-centered.medium-uncentered.medium-3.large-4
			.row
				.column.small-12.medium-3.hide-for-small
					a(href="/")
						img(src="images/footer-logo.svg", width="46px")
				.column.small-12.medium-9
					h3.brand ClickLion
					h4.sub-brand AdNetwork
					p.copyright
						| Copyright © ClickLion,
						br
						| All right reserved.
					p.reg-info Reg No. 123456789JQKA
		.column.small-11.small-centered.medium-uncentered.medium-3.large-2
			h3.menu-header Our solution for
			ul.menu
				li
					a(href="#") New Advertisers
				li
					a(href="#") Experienced Advertisers
				li
					a(href="#") Global Advertisers
				li
					a(href="#") Publishers
		.column.small-11.small-centered.medium-uncentered.medium-3.large-2
			h3.menu-header Learning
			ul.menu
				li
					a(href="#") Help Center
				li
					a(href="#") Community
				li
					a(href="#") Learn with us
				li
					a(href="#") Ad Innovations
				li
					a(href="#") Think Insights
		.column.small-11.small-centered.medium-uncentered.medium-3.large-2
			h3.menu-header Site Links
			ul.menu
				li
					a(href="#") Home
				li
					a(href="#") Why us?
				li
					a(href="#") How it works
				li
					a(href="#") Success Stories
				li
					a(href="#") Privacy Policy
			a.button.danger(href="#") Bugs Report
		.column.small-6.medium-12.large-2.text-right
			p.find-us-on Find us on
			ul.social-menu
				li
					a(href="#")
						img(src="images/small-twitter.svg")
				li
					a(href="#")
						img(src="images/small-facebook.svg")
				li
					a(href="#")
						img(src="images/small-google-plus.svg")