.top-bar-holder
	.row
		.column.small-3.medium-1.large-1
			a.logo(href="/")
		.column.small-9.medium-8.large-7
			ul.menu
				li.active
					a Home
				li
					a Why Us?
				li
					a How It Works
				li
					a Success Stories
		.column.small-12.medium-3.large-3
			.row.collapse
				.column.small-2
					a.avatar(href="login.html")
						img.avatar(src="images/sample-avatar@2x.png")
				.column.small-10
					a.user-info(href="dashboard.html")
						p.name Thảo Đặng
						.statistics
							span $5,400.00
							span $69.96