
<div class="top-bar-holder">
  <div class="row">
    <div class="column small-3 medium-1 large-1"><a href="/" class="logo"></a></div>
    <div class="column small-9 medium-8 large-7">
      <ul class="menu">
        <li class="active"><a>Home</a></li>
        <li><a>Why Us?</a></li>
        <li><a>How It Works</a></li>
        <li><a>Success Stories</a></li>
      </ul>
    </div>
    <div class="column small-12 medium-3 large-3">
      <div class="row collapse">
        <div class="column small-2"><a href="login.html" class="avatar"><img src="images/sample-avatar@2x.png" class="avatar"/></a></div>
        <div class="column small-10"><a href="dashboard.html" class="user-info">
            <p class="name">Thảo Đặng</p>
            <div class="statistics"><span>$5,400.00</span><span>$69.96</span></div></a></div>
      </div>
    </div>
  </div>
</div>