
<div class="wall fadeIn wow">
  <div class="row">
    <div class="column">
      <div class="row collapse">
        <div class="column small-12 medium-6 large-4">
          <div class="row collapse">
            <div class="column"><a class="imp-tile half tile">
                <div class="overlay">
                  <p class="counter-description">Impression Monthly</p>
                  <h1 class="counter-value">120B</h1>
                </div></a></div>
          </div>
          <div class="row collapse">
            <div class="column small-6"><a class="ctr-tile half tile">
                <div class="overlay">
                  <p class="counter-description">Click-Through Rate</p>
                  <h1 class="counter-value">4.8%</h1>
                </div></a></div>
            <div class="column small-6"><a class="uu-tile half tile">
                <div class="overlay">
                  <p class="counter-description">Unique Users<br/>Monthly</p>
                  <h1 class="counter-value">26M</h1>
                </div></a></div>
          </div>
        </div>
        <div class="column small-12 medium-6 large-4"><a class="advertiser-tile tile">
            <div class="slide-up fold">
              <p>
                 
                How much does it cost?<br/>Where will my ads appear?<br/>How can I tell my ads are successful? 
              </p>
            </div>
            <div class="overlay">
              <h2 class="title">#advertiser</h2>
              <p class="slogan">Those customers you are looking for,<br/>are looking for you.</p>
            </div></a></div>
        <div class="column small-12 medium-6 large-4"><a class="publisher-tile tile">
            <div class="slide-up fold">
              <p>
                 
                How much does it cost?<br/>Where will my ads appear?<br/>How can I tell my ads are successful?
              </p>
            </div>
            <div class="overlay">
              <h2 class="title">#publisher</h2>
              <p class="slogan">Every impression is an opportunity.</p>
            </div></a></div>
        <div class="column small-12 medium-6 large-4">
          <div class="hero-tile tile">
            <div class="overlay">
              <h2 class="title">Ready to get started?</h2>
              <p class="sub-title-1">OR, not sure which service is right for you?</p>
              <p class="sub-title-2">Call 84-125-5239-480 and we'll point you in the right direction, free of charge</p>
            </div>
          </div>
        </div>
        <div class="column small-12 medium-12 large-8">
          <div class="service-tile tile">
            <div class="selector"><a href="" data-wow-delay="0s" class="button border pulse wow">Become an advertiser</a><a href="" data-wow-delay="0.2s" class="button border pulse wow">Become a publisher</a></div>
          </div>
        </div>
        <div class="column small-12 medium-6 large-4"><a class="resources-tile tile">
            <div class="slide-left fold">
              <p>
                 
                How much does it cost?<br/>Where will my ads appear?<br/>How can I tell my ads are successful? 
              </p>
            </div>
            <div class="overlay">
              <h2 class="title">#resources</h2>
              <p class="slogan">Just get started with ClickLion?</p>
            </div></a></div>
        <div class="column small-12 medium-6 large-4">
          <div class="row collapse">
            <div class="column small-6"><a href="#" class="twitter-tile half tile"><img src="images/white-twitter-tile-icon.svg" class="icon"/>
                <h2 class="social-counter">220K</h2>
                <p class="alias">@clicklion</p></a></div>
            <div class="column small-6"><a href="#" class="facebook-tile half tile"><img src="images/white-facebook-tile-icon.svg" class="icon"/>
                <h2 class="social-counter">2.1M</h2>
                <p class="alias">fb.com/<br/>clicklion</p></a></div>
            <div class="column small-6"><a href="#" class="youtube-tile half tile"><img src="images/white-youtube-tile-icon.svg" class="icon"/>
                <h2 class="social-counter">150K</h2>
                <p class="alias">youtube.com/<br/>clicklion</p></a></div>
            <div class="column small-6"><a href="" class="mores-tile half tile"></a></div>
          </div>
        </div>
        <div class="column small-12 medium-6 large-4">
          <div class="contact-tile tile">
            <div class="row">
              <form class="border">
                <div class="column">
                  <h3 class="title">Drop us a line</h3>
                </div>
                <div class="column small-6">
                  <label>First name
                    <input type="text" value="Gia"/>
                  </label>
                </div>
                <div class="column small-6">
                  <label>Last name
                    <input type="text"/>
                  </label>
                </div>
                <div class="clearfix"></div>
                <div class="column small-6">
                  <label>Email
                    <input type="email" val="gia@coa.vn"/>
                  </label>
                </div>
                <div class="column small-6">
                  <label>Website
                    <input type="text"/>
                  </label>
                </div>
                <div class="clearfix"></div>
                <div class="column">
                  <select>
                    <option>How can we help with?</option>
                    <option>I want to monetize my site</option>
                    <option>I’m an advertiser looking to drive conversions</option>
                    <option>I’m a publisher looking to grow traffic</option>
                    <option>I’m a media buyer</option>
                    <option>I have feedback on your recommendations</option>
                    <option>Other</option>
                  </select>
                  <label>Message
                    <input type="text" placeholder="enter your message here..."/>
                  </label>
                </div>
                <div class="column text-right">
                  <input type="submit" value="Send" class="button border"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>